#index-body{
    background-color: #f8f0ec;
}
#gallery-body{
    background-color: #3F3C3B;
}

@font-face {
    font-family: 'de_valenciaregular';
    src: url('de_valencia_beta-webfont.woff2') format('woff2'),
         url('de_valencia_beta-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'italianaregular';
    src: url('italiana-regular-webfont.woff2') format('woff2'),
         url('italiana-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#display{
    font-family: 'de_valenciaregular';
    font-size: 21pt;
}
#display{
    font-family: 'de_valenciaregular';
    font-size: 48;
}
p{
    font-family: 'italianaregular';
    font-size: 10pt;
}
