#index-body{
    background-color: #f8f0ec;
    margin: 50px;
}
#gallery-body{
    background-color: #3F3C3B;
}

@font-face {
    font-family: 'de_valenciaregular';
    src: url('de_valencia_beta-webfont.woff2') format('woff2'),
         url('de_valencia_beta-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'italianaregular';
    src: url('italiana-regular-webfont.woff2') format('woff2'),
         url('italiana-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.display{
    font-family: 'de_valenciaregular';
    font-size: 21pt;
    line-height: 40px;
    color: #c7ffe5;
    text-align:right;
}
.displaypink{
    font-family: 'de_valenciaregular';
    font-size: 21pt;
    text-align:right;
    color: #f8f0ec;
    line-height: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    width:280px;
    margin-left:30px;
    background-color:#f7a1b1;
}
.displaytwo{
    font-family: 'de_valenciaregular';
    font-size: 48pt;
    text-align: right;
    margin-right:200px;
    margin-left: 375px;
    color: #b1c8be;
}
.display-gal{
    font-family: 'de_valenciaregular';
    font-size: 21pt;
    line-height: 40px;
    color: #c7ffe5;
    background-color: #b1c8be;
    text-align:right;
    margin-left: 3px;
    width: 250px;
    position:absolute;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
}
#space {
    letter-spacing: 9px;
    transition-property: letter-spacing;
    transition-duration: 1s;
}
#space:hover {
    letter-spacing: 15px;
    transition-property: letter-spacing;
    transition-duration: 1s;
}
.contact-info{
    margin-right: 200px;
    margin-left: 375px;
    text-align: right;
}
p{
    font-family: 'italianaregular';
    font-size: 10pt;
    color: #3f3c3b;
}
#logo1{
    width: 150px;
    margin-left: 100px;
}
#me{
    width: 290px;
    margin-left: 30px;
    margin-bottom: 30px
}
header {
    z-index:10;
    position:fixed;
}
#about{
    padding-top: 0px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    width:430px;
    position: relative;
    text-align: left;
    margin-top:50px;
    margin-left:380px;
    margin-bottom:30px;
    background-color:#b1c8be;
}
.bio{
    line-height: 20px;
}
#expertise{
    padding-top: 0px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    width:430px;
    position: relative;
    text-align: left;
    margin-left:380px;
    background-color:#b1c8be;
    margin-bottom:30px;
}
#education{
    padding-top: 0px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    width:430px;
    position: relative;
    text-align: left;
    line-height: 20px;
    margin-left:380px;
    background-color:#b1c8be;
    margin-bottom:30px;
}
#interests{
    padding-top: 0px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    width:430px;
    position: relative;
    text-align: left;
    margin-left:380px;
    background-color:#b1c8be;
    margin-bottom:30px;
}
.gal-img{
    padding:3px;
    width: 32%;
}
.gal-imgone{
background-image: url(gallery-images/Ants.jpg);
    width: 32%;
}
#gallery-images{
    min-width: 660px;
    max-width: 1200px;
    min-height: 660px;
    min-height: 1200px;
}
.gal-img{
    object-fit: cover;
    background-position:center;
    height: 100%;
}
.gal-text{
    background-color: #b1c8be;
    padding: 10px;
    position: relative;
    margin-left: 320px;
    width: 430px;
}
.star{
    padding-left:30px;
}
.star-transparent{
    padding-left:30px;
    opacity: 20%;
}

